<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue learning</title>
    <script src="vue.js"></script>
    <style type="text/css">
    body {
        background-color: rgb(56, 54, 54);
        color: white;
    }
    a {
        color: lightblue;
    }
        
    </style>
</head>
<body>
    <div id="app">
       <p v-if='show'>You can see me! <span>This is inside span</span></p>
       <p v-else='!show'>Now you see me!</p>
       <template v-if="show">
           <h1>Header</h1>
           <p>Inside the template</p>
       </template>
       <p v-show="show">Do you also can see me?</p>
       <button @click="show = !show">Switch</button>
    </div>

    <script>
        new Vue ({
            el: '#app',
            data() {
                return {
                    show: true,
                }
            },
        });
    </script>
</body>
</html>